* {
  border: none;
  font-family: Iosevka Nerd Font, sans-serif;
  font-size: 13px;
}


window#waybar {
  /* background-color: rgba(18, 21, 29, 0.98); */
  background: rgba(0, 0, 0, 0);
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces,
#mode,
#cpu,
#memory,
#temperature,
#custom-media,
#custom-fans,
#clock,
#idle_inhibitor,
#language,
#pulseaudio,
#backlight,
#battery,
#network,
#tray {
  background-color: #212026;
  padding: 0 10px;
  margin: 2px 4px 5px 4px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 90px;
  background-clip: padding-box;
}

#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: #565c5f;
}

#workspaces button:hover {
  background-color: rgba(0, 0, 0, 0.2)
}

#workspaces button.focused {
  color: #f28fad;
}

#workspaces button.urgent {
  color: #e06cda;
}

#cpu {
  color: #abe9b3;
}

#memory {
  color: #FAE3B0;
}

#temperature {
  color: #d19a66;
}

#temperature.critical {
  background-color: #e06c75;
  color: #1e222a;
}

#custom-media {
  background-color: #c678dd;
  color: #1e222a;
}

#custom-fans {
  color: #98c379;
}

#clock {
  color: #f2cdcd;
}

#idle_inhibitor {
  color: #abb2bf;
}

#idle_inhibitor.activated {
  background-color: #abb2bf;
  color: #1e222a;
}

#language {
  color: #56b6c2;
}

#pulseaudio {
  color: #96CDFB;
}

#pulseaudio.muted {
  background-color: #e06c75;
  color: #1e222a;
}

#backlight {
  color: #61afef;
}

#battery {
  color: #98c379;
}

#battery.charging, #battery.plugged {
  background-color: #98c379;
  color: #1e222a;
}

@keyframes blink {
    to {
        background-color: #1e222a;
        color: #e06c75;
    }
}

#battery.critical:not(.charging) {
    background-color: #e06c75;
    color: #1e222a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    color: #DDB6F2;
}

#network.disconnected {
    background-color: #e06c75;
    color: #1e222a;
}
